@charset "UTF-8";
@import './assets/css/normalize.css';
@import './assets/fonts/fonts.css';
.WAWE {
  font-family: "Roboto Condensed", sans-serif, sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #242121;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 96%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.title {
  text-align: center;
}
.title h2 {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif, sans-serif;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.01em;
  color: #01353e;
  line-height: 146%;
  text-transform: uppercase;
}
.title h2::after {
  position: absolute;
  content: "/";
  font-family: "Raleway", sans-serif, sans-serif;
  font-weight: 600;
  font-size: 72px;
  letter-spacing: 0.01em;
  color: #00b2a0;
  top: 26px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .title h2 {
    font-size: 40px;
  }
  .title h2::after {
    font-size: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .title h2 {
    font-size: 30px;
  }
  .title h2::after {
    font-size: 50px;
  }
  .title--big2 h2 {
    color: #FFFFFF;
  }
}
@media (min-width: 374px) and (max-width: 768px) {
  .title h2 {
    font-size: 20px;
  }
  .title h2::after {
    font-size: 30px;
    top: 16px;
  }
  .title--big2 h2 {
    color: #FFFFFF;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .title h2 {
    font-size: 20px;
  }
  .title h2::after {
    font-size: 30px;
    top: 16px;
  }
  .title--big h2::after {
    top: 36px;
  }
  .title--big2 h2 {
    color: #FFFFFF;
  }
}
.button {
  padding: 0;
  outline: none;
  border: 1px solid #c4c4c4;
  cursor: pointer;
  background-color: #fff;
  width: 350px;
  height: 70px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 75%;
  letter-spacing: 0.03em;
  color: #242121;
}